*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  padding-top: 1em;
  color: #333;
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f3;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}

.btn {
  font-size: 5rem;
  font-weight: 400;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1em;
  text-transform: capitalize;
}

.add-counter {
  position: fixed;
  font-size: 2rem;
  font-weight: 700;
  width: 50px;
  height: 50px;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.144);
  right: 10px;
  bottom: 10px;
}

.counter-create {
  position: absolute;
  width: 95%;
  max-width: 600px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(181, 177, 177);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.144);
}

.counter-create-name {
  width: 100%;
  font-size: 2.3rem;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background-color: transparent;
}

.counter-create-colors {
  margin-top: 1em;
  padding: 1em;
  display: flex;
  gap: 0.4em;
  overflow-x: scroll;
}

.counter-create-color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  flex-shrink: 0;
  cursor: pointer;
}

.counter-create-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  margin-top: auto;
}

.counter-create-btn {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.counter-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Counter */

.counter {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.counter-data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

.counter-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.counter-count {
  font-size: 3em;
}

.counter-last-update {
  font-size: 1.6rem;
}

.btn,
.counter-data {
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.144);
}
